.footer {
    background: rgb(146,183,249);
    background: linear-gradient(90deg, rgba(146,183,249,1) 0%, rgba(196,200,249,0.9897146358543417) 49%);
    width:100%;
    text-align:center;
}

h3{
    font-weight:500;
    font-size: 21px;
    font-family: 'Averia Sans Libre';
    padding:0.2%;
}

@media (max-width:770px)
{
    .footer{
        width:110%;
    }
    h3{
        font-size:3.8vw;
    }
}
