.usa{
    margin:0 0 50px 0;
}

.us-heading{
    text-align: center;
    color:#4a4eb0;
    font-weight:600;
    font-family: 'Averia Sans Libre';
    font-size:28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.us-img{
    width:100px;
    padding-right:1%;
}

.us-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-line{
    font-size: 13px !important;
}

.stats{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   text-align:center;
}

.update{
    font-size:12px !important;
    display:inline;
}

.g-card{
    width:90%;
    margin:2% !important;
}


.row{
    display: block;
    margin:0 auto !important;
}

.doughnut{
    width:50vw;
}


@media (max-width:770px)
{

    .us-heading{
        width:80vw;
        font-size:24px;
        text-align: center;
        margin-bottom: 40px;
    }
    .us-img{
        width:15vw;
    }
    canvas{
        width:20vw;
    }
    .doughnut{
        width:90%
    }
    .g-card{
        width:80%;
        margin-left:5% !important;
        margin-right: 5% !important;
    }
    
}
