body {
  background: rgb(206,221,247);
  background: linear-gradient(135deg, rgba(206,221,247,1) 0%, rgba(221,226,255,0.9897146358543417) 49%);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  height:110px;
}

.app-heading{
  display:flex;
  align-items: center;
  text-align: center;
  margin:2% 0 ;
}


@media (max-width:770px)
{
  .container{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .logo{
    height:100px;
  }

 h1{
   width:fit-content;
 }


}

@media (max-width:500px)
{
  .logo{
    height:22vw;
  }
}
